.int-content
  .form-title Conductores asociados a este taxi
  %table.table
    %tbody
      - users = @taxi.users
      - if users.count > 0 
        - users.each do |driver|
          %tr
            %td{scope: 'row'}
              = driver.nombre
            %td{scope: 'row'}
              = link_to 'Remover del taxi', remove_driver_to_taxi_path({taxi_id: @taxi.id, user_id: driver.id})
            %td{scope: 'row'}
              - if @taxi.es_ocupado_por? driver
                = link_to 'Cerrar sesión', logout_driver_and_taxi_path({taxi_id: @taxi.id, user_id: driver.id}), class: 'link-red'

      - else
        .warning-message
          Este taxi no tiene taxistas
