.int-content
  .form-title Todos los conductores
  %table.table
    %tbody
      - @drivers.each do |driver|
        %tr
          %th{scope: 'row'}
            = driver.nombre
          %th{scope: 'row'}
            - unless @taxi.users.exists?(driver.id)
              = link_to 'Agregar al taxi'
