%li{class: is_this_menu_item_active?(:taxis)}
  %a{href: taxis_path}
    %i.fa.fa-car.fa-lg
    Taxis

%li{class: is_this_menu_item_active?(:drivers)}
  %a{href: drivers_path}
    %i.fa.fa-male.fa-lg
    Conductores
