%li{class: is_this_menu_item_active?(:taxis)}
  %a{href: taxis_path}
    %i.fa.fa-car.fa-lg
    Taxis

%li{class: is_this_menu_item_active?(:drivers)}
  %a{href: drivers_path}
    %i.fa.fa-male.fa-lg
    Conductores

%li{class: is_this_menu_item_active?(:packages)}
  %a{href: packages_path}
    %i.fa.fa-folder.fa-lg
    Paquetes

%li{class: is_this_menu_item_active?(:recharge_homes)}
  %a{href: recharge_homes_path}
    %i.fa.fa-map-marker.fa-lg
    Puntos de recarga

%li{class: is_this_menu_item_active?(:questions)}
  %a{href: questions_path}
    %i.fa.fa-question-circle.fa-lg
    Preguntas frecuentes
